ul {
    list-style-type: none;
    margin: 25px 50px 75px 100px;
    width: 50%;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: inline;
    margin: 25px 50px 75px 100px;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FFD700;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #FFA500;
}