body {
    background-color:#F8D273;
}
h1 {font-family:Impact;
    font-weight:bold;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px
    color: black;
}
img {
	width:1270px;
	height:800px;
}
div div div {height:400px;
    width:150px;
    border-color:black;
    background-color:yellow;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin:auto;
    text-align:left;
    }
a {
    text-decoration:none;
    color:green;
    font-family:Cursive;
    font-size:20px;
}
#menu .active a {
	color: #fff;
	background-position: center center;
}
#menu .about a {
	width: 51px;
	background-image: url(../images/menu.about.png);
}

#menu .gallery a {
	width: 69px;
	background-image: url(../images/menu.galleries.png);
}

#menu .services a {
	width: 71px;
	background-image: url(../images/menu.services.png);
}
}
#menu .contacts a {
	width: 107px;
	background-image: url(../images/menu.contact.png);
}

#menu .facts a {
	width: 172px;
	background-image: url(../images/menu.facts.png);
}