.nav a {
  margin: 25px 50px 75px 100px;
  width: 70%
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}
.nav a:link, a:visited {
    display: inline;
    width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F4A460;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a:hover, a:active {
    background-color: #FFA500;
}
.nav li {
  display: inline;
  float:left;
}