.nav a:link, a:visited {
    display: inline;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F4A460;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a:hover, a:active {
    background-color: #FFA500;
}
.nav li {
  display: inline;
  float:left;
}