.nav a {
  font-size: 11px;
  position:relative;
  top: 50px;
  bottom: 150px;
  mmargin-left: 150px;
  margin-right: 200px;
}
.nav a:link, a:visited {
    display: inline;
    width: 150px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F4A460;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a:hover, a:active {
    background-color: #FFA500;
}
.nav li {
  display: inline;
  float:left;
}