body {
    background-color:#F8D273;
}
h1 {font-family:Impact;
    font-weight:bold;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px
    color: black;
}
#homepic {
	height:700px;
	width: 1300px;
	background-image: url("http://www.pradell.com/img/slides/zirmsauna02.jpg");
}
#about {
	border-radius: 5px;
	border: 2px solid #F8F8FF;
	background-color: #F8F8FF;
	text-align: center;
	font-family: Garamond, serif;
    display: inline;
	position: relative;
	margin-left: 25px;
}
a {
	text-decoration: none;
	color: #F8F8FF;
	font-family: Verdana, sans-serif;
}
span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
#services {
	height: 600px;
	width:300px;
	border-radius: 5px;
	border: 2px solid #F8F8FF;
	background-color: #F8F8FF;
	text-align: center;
	font-family: Garamond, serif;
    display: inline;
	position: relative;
	margin-left: 45px
}
a {
	text-decoration: none;
	color: #F8F8FF;
	font-family: Verdana, sans-serif;
}
span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
#gallery {
	border-radius: 5px;
	border: 2px solid #F8F8FF;
	background-color: #F8F8FF;
	height: 600px;
	width:300px;
	text-align: center;
	font-family: Garamond, serif;
    display: inline;
	position: relative;
	margin-left: 65px
}
a {
	text-decoration: none;
	color: #F8F8FF;
	font-family: Verdana, sans-serif;
}
span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
#contacts {
    border-radius: 5px;
	border: 2px solid #F8F8FF;
	background-color: #F8F8FF;
	height: 600px;
	width:300px;
	text-align: center;
	font-family: Garamond, serif;
    display: inline;
	position: relative;
	margin-left: 85px
}
a {
	text-decoration: none;
	color: #F8F8FF;
	font-family: Verdana, sans-serif;
}
span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
#homepic div {
    background-color:rgba(255,255,255,0.3);
    height: 100px;
 }